@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 15px 0;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 8px;
  top: calc(50% - 4px);
  background-color: #FFE17F;
  z-index: -1;
}

.button:focus::before {
  background-color: #AF4FFF;
}

.button:hover {
  background: #FFE17F;
}

.button:active {
  background: #FFE17F;
  color: rgba(0, 0, 0, .3);
}

.button:hover::before {
  content: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Pages */

.page-header {
  color: #000000;
  background: #FFE17F;
  padding: 50px 60px 38px;
  margin-top: 40px;
  position: relative;
}

.page-header .logo {
  width: 145px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.page-header-row {
  display: flex;
  justify-content: space-between;
}

.page-header-row-top {
  margin-bottom: 30px;
}

.navigation {
  width: 100%;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-cart {
  position: relative;
}

.item-cart .navigation-link {
  position: relative;
  padding: 10px 21px 10px 45px;
  margin-right: -17px;
  background-image: url("../img/icons/cart.svg");
  background-size: 16px 14px;
  background-position: center left 16px;
  background-repeat: no-repeat;
}

.item-cart-count {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 1px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.item-login .navigation-link {
  padding: 10px 21px 10px 46px;
  background-image: url("../img/icons/user.svg");
  background-size: 13px 12px;
  background-position: center left 21px;
  background-repeat: no-repeat;
}

.item-compare .navigation-link {
  padding: 10px 21px 10px 41px;
  background-image: url("../img/icons/compare.svg");
  background-size: 10px 12px;
  background-position: center left 21px;
  background-repeat: no-repeat;
}

.navigation-list-bottom {
  display: flex;
  align-items: center;
}

.navigation-list-bottom .navigation-item:first-child {
  width: 516px;
  min-width: 516px;
  margin-right: 5px;
}

.navigation-list-bottom .navigation-item:last-child {
  margin-left: 22px;
  margin-right: -20px;
}

.navigation-list-bottom .navigation-item:nth-last-child(2) {
  margin-right: auto;
}

.header-search {
  width: 516px;
  margin-right: 5px;
  padding-left: 36px;
  background-image: url("../img/icons/search.svg");
  background-size: 16px 16px;
  background-position: center left;
  background-repeat: no-repeat;
}

.header-search-field {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
  border: none;
  background-color: transparent;
}

.navigation-list-top {
  display: flex;
  flex-grow: 1;
}

.navigation-list-top .navigation-item:first-child {
  margin-right: auto;
}

.navigation-list-top .navigation-item:last-child {
  margin-left: 30px;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-list-top .navigation-link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 20px;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
}

.more-catalog-button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  margin-left: -20px;
}

.more-catalog-button .navigation-text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding: 15px 20px;
}

.more-catalog-button-icon-container {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000000;
  opacity: 0.2;
  background: #FFE17F;
}

.more-catalog-button:hover .more-catalog-button-icon-container,
.more-catalog-button:hover .navigation-text {
  opacity: 1;
}

.more-catalog-button:focus {
  outline: none;
}

.more-catalog-button:focus .navigation-text {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
}

.more-catalog-button:active .navigation-text {
  opacity: .3;
}

.more-catalog-button-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.navigation-item-catalog {
  display: flex;
  align-items: center;
}

.navigation-list .navigation-link {
  font-size: 16px;
  line-height: 19px;
}

.navigation-list-bottom .navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 15px 20px;
  position: relative;
  display: inline-block;
}

.navigation-list-bottom .navigation-link:hover {
  opacity: 1;
}

.navigation-list-bottom .navigation-link::after {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 10px;
  height: 2px;
  background-color: #000000;
}

.navigation-list-bottom .navigation-link:hover::after {
  content: "";
}

.navigation-list-bottom .navigation-link:active {
  opacity: 0.3;
}

.navigation-list-bottom .navigation-link:active::after {
  content: "";
}

.navigation-list-bottom .navigation-link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
}

.slider {
  margin-bottom: 70px;
}

.product-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-item {
  display: flex;
  justify-content: space-between;
}

.product-image {
  width: 560px;
}

.product-info {
  width: 560px;
}

.product-index {
  font-size: 180px;
  line-height: 30px;
  font-weight: 800;
  color: #FFFFFF;
}

.main-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

.product-description {
  color: #444444;
  margin-top: 0;
  margin-bottom: 30px;
}

.button-more {
  display: inline-block;
  margin-bottom: 70px;
}

.product-specifications td:not(:last-child) {
  padding-right: 20px;
}

.product-specifications-value {
  font-size: 36px;
  line-height: 30px;
}

.product-specifications-title {
  color: #444444;
}

.category {
  margin-bottom: 70px;
}

.category-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.category-item {
  width: 160px;
}

.category-item-icon {
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background: #FFE17F;
  fill: #363636;
}

.category-item-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.category-item-link:hover .category-item-icon {
  background: #FFC700;
}

.category-item-link:focus .category-item-icon {
  outline: 5px solid #AF4FFF;
}

.category-item-link:focus {
  outline: none;
  color: #AF4FFF;
}

.category-item-link:active .category-item-icon {
  background: #FFC700;
  fill: rgba(0, 0, 0, .3);
}

.advantages {
  color: #000000;
  background: #F0F0F0;
  padding-bottom: 70px;
  margin-bottom: 90px;
  position: relative;
}

.advantages::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 1;
  background-color: #ffffff;
}

.advantages .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.advantages-list {
  margin: 0;
  list-style: none;
  width: 280px;
  border-right: 7px solid;
  padding: 60px 0 0;
}

.advantages-item {
  margin-bottom: 25px;
}

.advantages-item-active {
  background-color: #000000;
  margin-bottom: 23px;
  padding: 10px 0;
  height: 40px;
  display: flex;
  align-items: center;
}

.advantages-button {
  width: 160px;
  padding: 10px 0;
}

.advantages-button::before {
  background: #FFC700;
}

.advantages-button:focus {
  outline: none;
}

.advantages-item-active .advantages-button {
  color: #FFE17F;
}

.advantages-item-active .advantages-button:hover {
  background: transparent;
  color: #FFE17F;
}

.advantages-content-list {
  margin: 0;
  list-style: none;
  width: 696px;
  padding: 52px 0 0;
}

.item-delivery {
  padding-right: 196px;
  background-image: url("../img/icons/delivery.svg");
  background-size: 136px 164px;
  background-position: center right;
  background-repeat: no-repeat;
}

.advantages-content-item:nth-child(n+2) {
  display: none;
}

.advantages-content-description {
  color: #444444;
  width: 497px;
}

.delivery-button {
  font-family: "Raleway", sans-serif;
  color: #000000;
  background: #F0F0F0;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 93px;
  position: relative;
  padding-left: 125px;
  padding-right: 73px;
  cursor: pointer;
}

.delivery-button:hover {
  background: #EBEBEB;
}

.delivery-button:hover .delivery-button-icon {
  background: #FFC700;
}

.delivery-button:hover .info-icon-svg {
  opacity: 1;
}

.delivery-button:focus {
  outline: 5px solid #AF4FFF;
}

.delivery-button:active {
  background: #EBEBEB;
  color: #A5A5A5;
  outline: none;
}

.delivery-button:active .delivery-button-icon {
  background: #FFC700;
  fill: #B38B00;
}

.delivery-button-icon {
  background: #FFE17F;
  position: absolute;
  left: 0;
}

.info-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 33px;
  background: #DCDCDC;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-icon-svg {
  opacity: .3;
}

.index-columns .container {
  display: flex;
  justify-content: space-between;
}

.index-columns .about {
  padding-top: 42px;
}

.about-title {
  margin-bottom: 46px;
}

.contacts-title {
  margin-bottom: 46px;
}

.contacts-text {
  margin-top: 0;
  margin-bottom: 30px;
}

.about-text {
  margin-top: 0;
  margin-bottom: 30px;
}


.index-columns .button {
  width: 260px;
}

.index-columns .about,
.index-columns .contacts {
  position: relative;
}

.index-columns .about::before,
.index-columns .contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.index-columns .contacts {
  padding-top: 42px;
  padding-bottom: 67px;
}

.about {
  width: 560px;
}

.contacts {
  width: 560px;
}

.list {
  margin-top: 83px;
  margin-bottom: 52px;
  list-style: none;
  padding: 0;
}

.list-item {
  font-weight: bold;
  line-height: 20px;
  position: relative;
  padding-left: 34px;
}

.list-item::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  margin-right: 25px;
  background-color: #FFC700;
  border-radius: 50%;
  left: 0;
  top: calc(50% - 4px);
}

.list-item:not(:last-child) {
  margin-bottom: 20px;
}

.about-text {
  color: #444444;
}

.contacts-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
  margin-top: 0;
}

.contacts-schedule {
  margin-top: 0;
  margin-bottom: 55px;
  list-style: none;
  padding: 0;
}

.contacts-text {
  font-style: normal;
}

.contacts {
  color: #444444;
}

.contacts-phone {
  white-space: nowrap;
  color: #444444;
}

.contacts-title {
  color: #000000;
}

.subscription {
  color: #000000;
  background: #F0F0F0;
  padding-top: 75px;
  padding-bottom: 130px;
}

.subscription-top-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.subscription-title {
  width: 560px;
}

.subscription-text {
  color: #444444;
  width: 560px;
}

.subscription-form {
  display: flex;
}

.subscription-field {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: transparent;
  width: 601px;
  padding: 0;
  border: none;
  border-bottom: 3px solid #D8D8D8;;
}

.subscription-motivator {
  color: #444444;
  margin-left: auto;
  padding-left: 35px;
  background-image: url("../img/icons/tick.svg");
  background-size: 13px 14px;
  background-position: center left;
  background-repeat: no-repeat;
  align-self: center;
}

.subscription-button {
  border: 3px solid #D8D8D8;
  height: 55px;
  width: 260px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.subscription-button:hover {
  background: #000000;
  border-color: #000000;
  color: #FFFFFF;
}

.subscription-button:focus {
  border-color: #AF4FFF;
}

.subscription-button:active {
  border-color: #000000;
  background: #000000;
}

.subscription-button:active .subscription-button-text {
  opacity: .3;
  color: #FFFFFF;
}

.page-footer {
  color: #FFFFFF;
  background: #444444;
  padding: 60px 0;
}

.page-footer .container {
  display: flex;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 35px;
}

.footer-address {
  width: 240px;
  margin-right: 112px;
  position: relative;
}

.footer-address::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 15px;
  height: 7px;
  width: 80px;
  background: #FFC700;
}

.footer-contacts {
  width: 293px;
  margin-left: auto;
  align-items: flex-end;
}

.footer-address-text {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer-navigation {
  margin-top: 77px;
  display: flex;
  flex-direction: column;
}

.footer-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer-navigation-socials-list {
  padding: 0;
  list-style: none;
  display: flex;
  margin: auto 0 0;
  justify-content: center;
}

.footer-navigation-socials-item {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 7px;
}

.footer-navigation-socials-item-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #7C7C7C;
  position: relative;
}

.footer-navigation-socials-item-icon {
  fill: #444444;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.footer-navigation-socials-item-link:hover {
  background: #FFC700;
}

.footer-navigation-socials-item-link:focus {
  background: #7C7C7C;
  outline: 5px solid #AF4FFF;;
}

.footer-navigation-socials-item-link:active {
  background: #FFC700;
  outline: none;
}

.footer-navigation-socials-item-link:active .footer-navigation-socials-item-icon {
  opacity: .3;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  padding: 15px 13px;
  position: relative;
}

.footer-navigation-link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
}

.footer-navigation-link:hover {
  color: #FFC700;
}

.footer-navigation-link:hover::after,
.footer-navigation-link:active::after{
  content: "";
  position: absolute;
  left: 13px;
  right: 13px;
  height: 2px;
  background-color: #FFC700;
  bottom: 3px;
}

.footer-navigation-link:active {
  color: #FFC700;
  opacity: 0.3;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-top: 77px;
}

.footer-contacts-developer {
  margin-left: auto;
  padding: 8px 8px 10px;
}

.footer-contacts-developer-icon {
  display: block;
  fill: #FFC700;
}

.footer-contacts-developer:hover .footer-contacts-developer-icon {
  fill: #FFFFFF;
}

.footer-contacts-developer:active .footer-contacts-developer-icon {
  fill: #FFFFFF;
  opacity: .3;
}

.footer-contacts-developer:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 10px;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  margin-top: 0;
  margin-bottom: 55px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0 15px;
  margin-left: -15px;
}

.footer-contacts-phone:hover {
  color: #FFC700;
}

.footer-contacts-phone:active {
  color: #FFC700;
  opacity: .3;
}

.footer-contacts-phone:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
}

/* Catalog */
.button-logout {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
  background-color: transparent;
  border: none;
  margin-left: 25px;
}

.inner-header {
  margin-top: 37px;
  margin-bottom: 50px;
  padding-left: 60px;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 15px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.6;
  display: flex;
  list-style: none;
  padding: 0;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  flex-wrap: wrap;
  padding-right: 21px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 7px;
  width: 4px;
  height: 7px;
  background-image: url("../img/icons/breadcrumbs-separator.svg");
  background-size: 4px 7px;
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 15px;
}

.sort-button {
  width: 10px;
  height: 11px;
}

.catalog-products-top {
  background-image: linear-gradient(90deg, #DCDCDC 50%, #EBEBEB 50%);
}

.catalog-products-main {
  background-image: linear-gradient(90deg, #E5E5E5 50%, #ffffff 50%);
}

.catalog-products-top .container {
  display: flex;
  padding-left: 60px;
}

.catalog-products-top-filter {
  font-family: "Raleway", sans-serif;
  width: 270px;
  padding-right: 70px;
  background-color: #DCDCDC;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  align-items: center;
}

.catalog-products-top-sorting {
  width: 830px;
  display: flex;
  align-items: center;
}

.sort-button {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.sort-button-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  fill: #000000;
}

.button-light .sort-button-icon {
  opacity: .2;
}

.catalog-products-main .container {
  display: flex;
  padding-left: 60px;
}

.catalog-left-column {
  width: 270px;
  padding-right: 70px;
  padding-top: 70px;
  background-color: #E5E5E5;
}

.catalog-right-column {
  padding-left: 70px;
  padding-top: 70px;
  width: 830px;
}

.catalog-filter {
  background: #E5E5E5;
  color: #000000;
  width: 200px;
  margin-left: auto;
  margin-right: 70px;
}

.catalog-filter-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 19px;
}

.sorting-type {
  background: #EBEBEB;
  padding: 20px 0 20px 70px;
  margin-right: auto;
}

.pagination-show-more {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000000;
  margin-bottom: 50px;
}

.catalog-product-cards {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 44px;
  margin-bottom: 44px;
}

.product-card {
  background-color: #FFFFFF;
  width: 360px;
}

.product-card-link {
  text-decoration: none;
  font-size: 18px;
}

.product-card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.product-card-title {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin: 0;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
  font-weight: 400;
}

.product-card-button {
  display: none;
}

.product-card-new-label {
  display: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.6;
}

.pagination-show-more {
  font-size: 16px;
  line-height: 19px;
}

.pagination {
  color: #000000;
  background: #EBEBEB;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  list-style: none;
  padding: 0;
  height: 70px;
  align-items: center;
  margin-bottom: 77px;
}

.pagination-link-text {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.pagination-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item:not(:first-child) a,
.pagination-item:not(:last-child) a {
  padding: 0 14px;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}
